In [1]:
import pandas as pd

dados = {
    'Nome' : ['Aline', 'Beto', 'Carla', 'Daniel'],
    'Idade' : [25, 40, 45, 50],
    'Naturalidade' : ['SP', 'AM', 'RJ', 'SP']
}

df = pd.DataFrame(dados)
print(df)

     Nome  Idade Naturalidade
0   Aline     25           SP
1    Beto     40           AM
2   Carla     45           RJ
3  Daniel     50           SP

In [2]:
print(df['Nome'])

0     Aline
1      Beto
2     Carla
3    Daniel
Name: Nome, dtype: object

In [6]:
print(df[df['Idade']>30])

     Nome  Idade Naturalidade
1    Beto     40           AM
2   Carla     45           RJ
3  Daniel     50           SP

In [7]:
print(df[df['Nome'] == 'Aline'])

    Nome  Idade Naturalidade
0  Aline     25           SP

In [10]:
print(df.loc[0:2])

    Nome  Idade Naturalidade
0  Aline     25           SP
1   Beto     40           AM
2  Carla     45           RJ

In [12]:
df.head(2)

    Nome  Idade Naturalidade
0  Aline     25           SP
1   Beto     40           AM